/* custom template */
html, body {
    width: 440px;
    font-family: Verdana, Arial,sans-serif;
    font-size: 12px;
}

.nav {
    font-family: Verdana, Arial,sans-serif;
    font-size: 13px;
}

a {
    color: #222222;
}

    a:hover {
        text-decoration: none;
    }

.list-group-item {
    padding: 10px 0;
}

hr {
    border-color: #dedede;
}

.wrapper, .row {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}

    .wrapper:before, .wrapper:after,
    .column:before, .column:after {
        content: "";
        display: table;
    }

    .wrapper:after,
    .column:after {
        clear: both;
    }

.column {
    height: 100%;
    overflow: auto;
    *zoom: 1;
}

    .column .padding {
        padding: 20px;
    }

.full {
    padding-top: 70px;
}

.box {
    bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #444444;
    /*
           background-image:url('/assets/example/bg_suburb.jpg');
           background-size:cover;
           background-attachment:fixed;
         */
}

.divider {
    margin-top: 32px;
}

.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-blue {
    border-width: 0;
    background-color: #3B5999;
    color: #ffffff;
    font-family: arial,sans-serif;
}

    .navbar-blue li > a, .navbar-toggle {
        color: #efefef;
    }

    .navbar-blue .dropdown-menu li a {
        color: #2A4888;
    }

    .navbar-blue .dropdown-menu li > a {
        padding-left: 30px;
    }

    .navbar-blue li > a:hover, .navbar-blue li > a:focus, .navbar-blue .open, .navbar-blue .open > a, .navbar-blue .open > a:hover, .navbar-blue .open > a:focus {
        background-color: #2A4888;
        color: #fff;
    }

#main {
    padding-left: 0;
    padding-right: 0;
}

    #main .img-circle {
        margin-top: 18px;
        height: 70px;
        width: 70px;
    }

#sidebar {
    padding: 0;
    padding-top: 15px;
}

    #sidebar, #sidebar a, #sidebar-footer a {
        color: #ffffff;
        background-color: transparent;
        text-shadow: 0 0 2px #000000;
        padding-left: 5px;
    }

        #sidebar .nav li > a:hover {
            background-color: #393939;
        }

.logo {
    display: block;
    padding: 3px;
    background-color: #fff;
    color: #3B5999;
    height: 28px;
    width: 28px;
    margin: 9px;
    margin-right: 2px;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 1px;
    border-radius: 2px;
}

#sidebar-footer {
    background-color: #444;
    position: absolute;
    bottom: 5px;
    padding: 5px;
}

/* bootstrap overrides */

h1, h2, h3 {
    font-weight: 800;
}

.navbar-toggle, .close {
    outline: 0;
}

    .navbar-toggle .icon-bar {
        background-color: #fff;
    }

.navbar {
    height: 32px;
    min-height: 32px;
    margin-bottom: 0;
}

.navbar-nav {
    margin: 0;
}

.navbar-brand {
    padding: 4px;
    height: initial;
}

.navbar-right {
    float: right !important;
    margin-right: -15px;
}

.navbar-header, .navbar-nav > li {
    float: left;
}

    .navbar-nav > li > a {
        padding: 6px 8px;
    }

.btn-primary, .label-primary, .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #3B5999;
    border-color: #365899;
    color: #fffffe;
}

    .btn-primary:hover, .btn-primary:active {
        background-color: #29487d;
        border-color: #29487d;
    } 

.btn-secondary {
    background-color: #f6f7f9;
    border-color: #ced0d4;
    color: #4b4f56;
}
    .btn-secondary:hover {
        background-color: #e9ebee;
    }

    .btn-secondary:active {
        background-color: #dddfe2;
        border-color: #bec2c9;
    }

.btn-default {
    color: #666666;
    text-shadow: 0 0 1px #000000;
}

.panel textarea, .well textarea, textarea.form-control {
    resize: none;
}

.badge {
    color: #3B5999;
    background-color: #fff;
}

    .badge:hover, .badge-inverse {
        background-color: #3B5999;
        color: #fff;
    }

.jumbotron {
    background-color: transparent;
}

.label-default {
    background-color: #dddddd;
}

.page-header {
    margin-top: 55px;
    padding-top: 9px;
    border-top: 1px solid #eeeeee;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.panel-default .panel-heading {
    background-color: #f9fafb;
    color: #555555;
}

.col-sm-9.full {
    width: 100%;
}

.modal-header, .modal-footer {
    background-color: #f2f2f2;
    font-weight: 800;
    font-size: 12px;
    text-align: center;
    padding: 0;
}

    .modal-footer i, .well i {
        font-size: 20px;
        color: #c0c0c0;
    }

    .modal-footer a {
        color: #3B5999;
    }

        .modal-footer a:hover, .modal-footer a:active {
            color: #2A4888;
            text-decoration: underline;
        }

.modal-body {
    padding: 0;
}

    .modal-body textarea.form-control {
        resize: none;
        border: 0;
        box-shadow: 0 0 0;
    }

.center-block {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

small.text-muted {
    font-family: courier,courier-new,monospace;
}

.list-group {
    margin-bottom: 0;
}

.primary-text, .conversation-name, .conversation-text {
    margin-bottom: 2px;
}

.primary-text {
    max-height: 50px;
    overflow: hidden;
}

.secondary-text, .conversation-text, .conversation-timestamp {
    color: #999;
}

.conversation-name, .conversation-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.conversation-timestamp {
    font-size: 9px;
}

.requestor-name a {
    color: #3B5999;
}

.requestor-name a:hover {
    text-decoration: underline;
}

.request-buttons {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.tooltip-text a {
    color: #999;
}

.tooltip-text a:hover {
    text-decoration: underline;
}

.emphasize {
    font-weight: bold;
}

.icon {
    width: 16px;
    height: 16px;
}

.selected {
    background-color: #2A4888;
    color: #fff;
}

.read-button-container {
    position: absolute;
    top: 8px;
    right: 8px;
}

.read-button {
    background-image: url(../Images/read-buttons.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: 0;
    background-position-y: -99px;
    height: 15px;
    width: 15px;
}

.new-list-item {
    background-color: #ebeef4;
}

    .new-list-item .read-button {
        background-position-y: -63px;
    }

        .new-list-item .read-button:hover {
            background-position-y: -45px;
        }

#loader {
    position: absolute;
    top: 40px;
    left: 185px;
    z-index: 100;
}

.loading {
    background-color: #eeeeee;
    opacity: .5;
}

.repliedLast, .seenByAll {
    background-image: url(../Images/message-icons.png);
    background-repeat: no-repeat;
    background-size: auto;
    display: inline-block;
    height: 9px;
    width: 10px;
}

.repliedLast {
    background-position: -197px -254px;
}

.seenByAll {
    background-position: -208px -254px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 4px;
    padding-right: 4px;
}

.with-offset {
    padding-left: 12px;
}

.picture1, .picture2, .picture3 {
    float: left;
    overflow: hidden;
}

.picture2, .picture3 {
    border-left: 1px #ffffff solid;
}

.picture3 {
    border-top: 1px #ffffff solid;
}

.attachment {
    margin-right: 7px;
    float: right;
    max-height: 55px;
    background-color: #fff;
    border: 1px solid #dcdee3;
    padding: 2px;
}
