body, iframe, form {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
form {
  display: none;
}
.max-height {
  height: 580px;
}
/* height of five jewel-list items plus header and footer */
.five-height-plus {
  height: 370px;
}
.max-width {
  width: 780px;
}
.half-width {
  width: 390px;
}
/* half-width is messed on login form */
.half-width-plus {
  width: 420px;
}
/* jewel-list-item width */
.jewel-list-width {
  width: 330px;
}
.loading {
  background-image: url('/images/indicator_white_large.gif');
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-position: center center;
}
.error {
  margin: 1em;
  padding: 0 0.5em;
  display: none;
  border: 1px solid red;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}
.notification-read-div {
  position: absolute; 
  top: 3.5px; 
  right: 2px;
}

.notification-read-button {
  background-image: url(/rsrc.php/v2/yi/r/VbMsTLH_nZe.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -21px -1277px;
  height: 12px;
  width: 5px;
}

.info {
  width: 250px;
}

#jewelCase .jewelHighlightItem li:hover, 
#jewelCase .jewelHighlightItem li:active, 
#jewelCase .jewelHighlightItem li:focus {
  background-color: #6d84b4 !important;
  border-bottom: 1px solid #3b5998;
  border-top: 1px solid #3b5998;
  padding-top: -1px;
  padding-bottom: -1px;
}

#jewelCase .jewelHighlightItem li a.link:hover, 
#jewelCase .jewelHighlightItem li a.link:active, 
#jewelCase .jewelHighlightItem li a.link:focus {
  border-bottom: initial;
  border-top: initial;
  padding-top: 4px;
  padding-bottom: 4px;
}

#jewelCase .jewelHighlightItem li:hover span, 
#jewelCase .jewelHighlightItem li:active span, 
#jewelCase .jewelHighlightItem li:focus span, 
#jewelCase .jewelHighlightItem li:hover div, 
#jewelCase .jewelHighlightItem li:active div, 
#jewelCase .jewelHighlightItem li:focus div, 
#jewelCase .jewelHighlightItem li.selected a {
  color: #fff;
}